.message {
    margin-top: .5rem;
    animation: slide-down 0.4s ease;
}

.message.you {
    text-align: right;
    padding-left: .5rem;
}

.message.left {
    text-align: left;
    padding-right: .5rem;
}

.message > .from {
    color: #d2004c;
    font-size: .8rem;
}

.message > .body {
    font-size: 1rem;
    font-weight: bold;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
